.face {
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: rgb(129, 3, 3);
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;

}

.eye1, .eye2 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px

}

.eye2{
    left: 250px;
}